[client]
socket = /home/container/tmp/mariadb.sock
default-character-set = utf8mb4

[mysqld]
bind-address = 127.0.0.1
port = 3306
socket = /home/container/tmp/mariadb.sock
pid-file = /home/container/tmp/mariadb.pid
log-error = /home/container/logs/mariadb.log
skip-name-resolve
skip-external-locking
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
transaction-isolation = READ-COMMITTED
binlog-format = ROW
innodb_file_per_table = 1
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
max_connections = 100
table_open_cache = 400
tmp_table_size = 64M
max_heap_table_size = 64M
performance_schema = OFF
